* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box{
    padding: 50px;
    width: 30%;
}

.logo{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img{
    width: 100px;
}

.head_text{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.form_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.input_box{
    width: 60%;
    padding: 15px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgb(225, 225, 225);
    background-color: rgb(240, 240, 240);;
    outline-color: blueviolet;
    border-radius: 12px;
}

